<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spectrum Connections</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <header>
            <div id="header-logo"></div>
        </header>

        <nav class="navbar navbar-expand-lg navbar-underheader navbar-dark" style="background-color: #130C31;">
            <a class="navbar-brand" href="../index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="mission.html">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">About Us
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="donate.html">Donate</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="resources.html">Resources</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- end navbar -->

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div id="mainContent"></div>

                    <h1>About Us:</h1>

                    <h4>Spectrum Connections is a nonprofit organization founded by professionals and parents with over 20 years
                        of direct service experience with autistic youth and adults. The chief founding partners are Melva
                        Radtke and Judy Logan.</h4>


                    <!-- ############################# -->
                    <hr>
                    <br>
                    <img class="pic" src="../public/images/staff/melva.jpg">
                    <h3>Melva Radtke</h3>
                    <ul>
                        <li>Job Coach - Lionsgate AIM Transition Program</li>
                        <li>Five years in direct service and leadership roles - Autism Works</li>
                        <li>Co-founder of video modeling series middle school youth and teens - 9th Planet</li>
                        <li>Social skill instructor - Autism Society of Minnesota </li>
                        <li>Parent with 28 years of direct autism experience</li>
                        <!-- <li>Teacher, attorney, legislative researcher and policy analyst</li> -->

                    </ul>
                    <p>As a parent and professional autism provider, I learned firsthand how the abrupt end of services after
                        high school can take a negative toll on the independent living prospects of young autistic adults.
                        I know we can do better by these amazing and talented youth. </p>


                    <!-- ############################# -->
                    <hr>
                    <br>
                    <img class="pic" src="../public/images/staff/Judy.jpg">
                    <h3>Judy Logan</h3>
                    <ul>
                        <li>CPA with Masters in Nonprofit Management</li>
                        <li>Over 30 years of finance experience in all sectors</li>
                        <li>Parent with 25 years of direct autism experience</li>
                    </ul>
                    <p> Personal quote: Enim convallis elit curabitur a mattis urna duis parturient montes est justo arcu urna
                        ad a leo litora adipiscing iaculis.Suspendisse senectus condimentum enim suscipit adipiscing fringilla
                        platea elementum sem mollis cum.</p>

                    <!-- ############################# -->
                    <hr>
                    <br>
                    <img class="pic" src="../public/images/staff/IMG-G1.jpg">
                    <h3>Lia Ellis</h3>
                    <ul>
                        <li>First point </li>
                        <li>second</li>
                        <li>third</li>
                    </ul>
                    <p> Personal quote: Gravida sapien adipiscing fringilla erat malesuada molestie platea ipsum potenti parturient
                        cum a id rhoncus ut aptent massa senectus etiam ullamcorper sem eu a a dapibus.Ac parturient donec
                        ullamcorper vestibulum in consectetur nec dui sociosqu nisi cras vel est adipiscing.</p>

                    <!-- ############################# -->
                    <hr>
                    <br>
                    <img class="pic" src="../public/images/staff/IMG-G2.jpg">
                    <h3>Alicia Reinke-Tuthill </h3>
                    <ul>
                        <li>First point </li>
                        <li>second</li>
                        <li>third</li>
                    </ul>
                    <p> Personal quote: Gravida sapien adipiscing fringilla erat malesuada molestie platea ipsum potenti parturient
                        cum a id rhoncus ut aptent massa senectus etiam ullamcorper sem eu a a dapibus.Ac parturient donec
                        ullamcorper vestibulum in consectetur nec dui sociosqu nisi cras vel est adipiscing.</p>
                    <!-- ############################# -->
                    <hr>
                    <br>
                    <img class="pic" src="../public/images/staff/IMG-G3.jpg">
                    <h3>Amanda Braith</h3>
                    <!-- <ul>
                        <li>First point </li>
                        <li>second</li>
                        <li>third</li>
                    </ul>
                    <p> Personal quote: Gravida sapien adipiscing fringilla erat malesuada molestie platea ipsum potenti parturient
                        cum a id rhoncus ut aptent massa senectus etiam ullamcorper sem eu a a dapibus.Ac parturient donec
                        ullamcorper vestibulum in consectetur nec dui sociosqu nisi cras vel est adipiscing.</p> -->



                </div>
            </div>

        </div>

        <div class="push"></div>
    </div>

    <footer class="footer">
        <span class="text-muted"> © 2018 Spectrum Connections. All rights reserved.</span>
    </footer>

</body>

</html>