<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spectrum Connections</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

     <!-- Style Sheets -->
     <link rel="stylesheet" href="../public/css/reset.css">
     <link rel="stylesheet" href="../public/css/main.css">
 
     <!-- Font -->
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <header>
            <a href="../index.html">
                <div id="header-logo"></div>
            </a>
        </header>

        <nav class="navbar navbar-expand-lg navbar-underheader navbar-dark" style="background-color: #130C31;">
            <a class="navbar-brand" href="../index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="mission.html">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">About Us
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="donate.html">Donate</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="resources.html">Resources</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- end navbar -->

        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <h1>About Us:</h1>

                    <h4>Spectrum Connections is a nonprofit organization founded by professionals and parents with over 20 years
                        of direct service experience with autistic youth and adults. The chief founding partners are Melva
                        Radtke and Judy Logan.
                    </h4>

                </div>
            </div>
            <!-- ############################# -->
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <img class="pic" src="../public/images/staff/melva.jpg">
                    <h3>Melva Radtke</h3>
                    <ul>
                        <li>Job Coach - Lionsgate AIM Transition Program</li>
                        <li>Five years in direct service and leadership roles - Autism Works</li>
                        <li>Co-founder of video modeling series middle school youth and teens - 9th Planet</li>
                        <li>Social skill instructor - Autism Society of Minnesota </li>
                        <li>Parent with 28 years of direct autism experience</li>
                        <!-- <li>Teacher, attorney, legislative researcher and policy analyst</li> -->

                    </ul>
                    <p>As a parent and professional autism provider, I learned firsthand how the abrupt end of services after
                        high school can take a negative toll on the independent living prospects of young autistic adults.
                        I know we can do better by these amazing and talented youth. </p>

                </div>
            </div>
            <!-- ############################# -->
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <img class="pic" src="../public/images/staff/Judy.jpg">
                    <h3>Judy Logan</h3>
                    <ul>
                        <li>CPA with Masters in Nonprofit Management</li>
                        <li>Over 30 years of finance experience in all sectors</li>
                        <li>Parent with 25 years of direct autism experience</li>
                    </ul>
                    <p> Personal quote: Enim convallis elit curabitur a mattis urna duis parturient montes est justo arcu urna
                        ad a leo litora adipiscing iaculis.Suspendisse senectus condimentum enim suscipit adipiscing fringilla
                        platea elementum sem mollis cum.</p>
                </div>
            </div>
            <!-- ############################# -->
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <img class="pic" src="../public/images/staff/IMG-G1.jpg">
                    <h3>Leah Ellis</h3>
                    <ul>
                        <li>M.A., Special Education</li>
                        <li>Special Education Teacher - Edina Public School</li>
                        <li>Tutor - Ellis Social Learning</li>
                    </ul>
                    <p>As a service provider to younger children on the autism spectrum, I help my students build foundational
                        social skills. It is essential to me that services continue through adulthood to ensure lifelong
                        success.</p>
                </div>
            </div>
            <!-- ############################# -->
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <img class="pic" src="../public/images/staff/IMG-G2.jpg">
                    <h3>Alicia Reinke-Tuthill </h3>
                    <ul>
                        <li>M.A. Human Services</li>
                        <li>Manager of Ability Services - University of Wisconsin-River Falls</li>
                        <li>Post-Secondary Navigator/Communications Consultant - Autism Works</li>
                        <li>Education Assistant - Northeast Metro 916 Intermediate School District</li>
                    </ul>
                    <p> Personal quote: Gravida sapien adipiscing fringilla erat malesuada molestie platea ipsum potenti parturient
                        cum a id rhoncus ut aptent massa senectus etiam ullamcorper sem eu a a dapibus.Ac parturient donec
                        ullamcorper vestibulum in consectetur nec dui sociosqu nisi cras vel est adipiscing.</p>

                </div>
            </div>
            <!-- ############################# -->
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <img class="pic" src="../public/images/staff/IMG-G3.jpg">
                    <h3>Amanda Braith</h3>
                    <ul>
                        <li>20+ Years non-profit office management</li>
                        <li>17 years of direct Autism Experience</li>
                    </ul>
                    <p> Personal quote: Gravida sapien adipiscing fringilla erat malesuada molestie platea ipsum potenti parturient
                        cum a id rhoncus ut aptent massa senectus etiam ullamcorper sem eu a a dapibus.Ac parturient donec
                        ullamcorper vestibulum in consectetur nec dui sociosqu nisi cras vel est adipiscing.</p>
                </div>
            </div>


        </div>
    </div>

    </div>

    <div class="push"></div>
    </div>
    <!-- End of Wrapper -->

    <footer class="footer">
        <p> © 2018 Spectrum Connections. All rights reserved.</p>
        <br>
        <p>Address: 5865 Neal Avenue North, Stillwater, MN 55082</p>
        <p>Phone: 651-269-5002</p>
    </footer>

</body>

</html>