<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spectrum Connections</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- push div and wrapper div helps ensure that footer sticks to the bottom -->
    <div class="wrapper">

        <header>
            <div id="header-logo"></div>
        </header>

        <nav class="navbar navbar-expand-lg   navbar-underheader navbar-dark" style="background-color: #130C31;">
            <a class="navbar-brand" href="../index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="mission.html">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="donate.html">Donate
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="resources.html">Resources
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
            </div>

        </nav>
        <!-- end navbar -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div id="mainContent">
                        <h1>Resources</h1>

                        <!-- <h3>Below are additional autism related resources:</h3> -->
                        <h2> This resource page is a partial list of organizations that offer services to individuals impacted
                            by autism:
                        </h2>

                        <hr>

                        <ul>
                            <li>
                                <a href="https://www.ausm.org/">AUSM - Autism Society of Minnesota</a>
                            </li>
                            <p>Established in 1971, the Autism Society of Minnesota (AuSM) is a non-profit organization committed
                                to education, advocacy and support designed to enhance the lives of those affected by autism
                                from birth through retirement.</p>

                            <li>
                                <a href="https://mn.gov/autism/">Minnesota Autism Resource Portal</a>
                            </li>
                            <p>he purpose of this website is to provide the Minnesota autism community with up-to-date information
                                and resources related to autism and autism spectrum disorder. Content will be collected from
                                a variety of sources, such as nonprofit organizations, state and federal agencies and other
                                autism-related organizations. Further, other sources include online magazines and newspapers,
                                research organizations and autism-related websites</p>

                            <li>
                                <a href="https://mn.gov/deed/job-seekers/disabilities/">Department of Employment & Economic development/Vocational Rehabilitation Services</a>
                            </li>
                            <p>The Minnesota Department of Employment and Economic Development (DEED) is the state's principal
                                economic development agency. DEED programs promote business recruitment, expansion, and retention;
                                international trade; workforce development; and community development.</p>

                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <!-- push div and wrapper div helps ensure that footer sticks to the bottom -->
        <div class="push"></div>
    </div>

    <footer class="footer">
        <span class="text-muted"> © 2018 Spectrum Connections. All rights reserved.</span>
    </footer>

</body>

</html>