<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spectrum Connections</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- push div and wrapper div helps ensure that footer sticks to the bottom -->
    <div class="wrapper">

        <header>
            <div id="header-logo"></div>
        </header>

        <nav class="navbar navbar-expand-lg   navbar-underheader navbar-dark bg-dark" style="background-color: #bdd8eb;">
            <a class="navbar-brand" href="../index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="mission.html">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="donate.html">Donate
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="resources.html">Resources
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
            </div>

        </nav>
        <!-- end navbar -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div id="mainContent">
                        <h1>Resources</h1>

                        <hr>

                        <ul>
                            <li>Rutrum condimentum et conubia.</li>
                            <p>Urna a tellus nam ultrices parturient sit suspendisse dui vestibulum sit a habitant erat malesuada
                                adipiscing.Platea scelerisque ullamcorper libero blandit.</p>

                            <li>Elit proin et rhoncus nisi.</li>
                            <p>Condimentum id cum a a scelerisque ullamcorper vestibulum donec curabitur a phasellus adipiscing
                                cum imperdiet natoque curae augue mus elementum ac aliquam a nunc est nunc ante himenaeos
                                sem.</p>

                            <li>Adipiscing auctor consectetur ullamcorper.</li>
                            <p>Consectetur at sociis urna lobortis velit sed facilisis a a condimentum adipiscing luctus vivamus
                                vestibulum nullam nisi sociis quis curae id penatibus himenaeos a.Penatibus lectus ullamcorper
                                morbi est sagittis velit himenaeos scelerisque nostra dictumst nullam nisl ultricies.</p>

                            <li>Scelerisque vivamus a.</li>
                            <p>Hendrerit etiam erat ad ultrices consectetur pharetra malesuada a consequat dignissim fermentum
                                tincidunt fames donec consectetur at parturient.Porttitor suspendisse aliquet.</p>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <!-- push div and wrapper div helps ensure that footer sticks to the bottom -->
        <div class="push"></div> 
    </div>

    <footer class="footer"> lorem ipsum footer content goes here blah blah blah</footer>

</body>

</html>