<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spectrum Connections</title>

   <!-- Favicon -->
   <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
   <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="wrapper">
        <header>
            <a href="../index.html">
                <div id="header-logo"></div>
            </a>
        </header>

        <nav class="navbar navbar-expand-lg navbar-underheader navbar-dark" style="background-color: #130C31;">
            <a class="navbar-brand" href="../index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="mission.html">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " href="#">Services
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="donate.html">Donate</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="resources.html">Resources</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- end navbar -->

        <div class="container">

            <div class="row">
                <div class="col-lg-12">


                    <h1>Our Services:</h1>

                    <h3>We provide services in 3 program areas:
                        <strong>Skill Instruction</strong>,
                        <strong>Community Education</strong>, and
                        <strong>College Support</strong>
                    </h3>

                    <hr>

                    <div class="row">
                        <div class="col-sm">
                            <video id="SC_Intro_Vid" controls>
                                <source src="../public/video/spectrum connections final.mp4" type="video/mp4">
                                <!-- <source src="movie.ogg" type="video/ogg"> -->
                                Your browser does not support the video tag.
                            </video>
                            <br>
                        </div>
                    </div>




                    <!-- Interview Skills section -->
                    <div class="row deepBlue">
                        <div class="col-sm-12">
                            <p style="text-align: center">Do you want to make a good impression in job interviews?</p>
                            <p>
                                <span style="font-size: 25px">ANNOUNCING AN INTERVIEW SKILL INTENSIVE</span>
                                for new and experienced job seekers with autism and similar profiles who are seeking competitive employment</p>

                        </div>
                    </div>
                    <div class="row deepBlue">
                        <!-- First Column -->
                        <div class="col-sm-6">
                            <p class="listHeader">What you will learn:</p>
                            <ul>
                                <li>Strategies to answer common interview questions</li>
                                <li>How to highlight your skills</li>
                                <li>How to manage tricky situations like job loss and issues with eye contact</li>
                                <li>How to research companies you’re interested in </li>
                                <li>Interview basics, such as grooming, what to bring and body language </li>
                                <li>How to project confidence</li>
                                <li>Right and wrong questions to ask an interviewer</li>
                                <li>Strategies for disclosure decisions </li>
                                <li>Learn to create a plan to continue improving your skills</li>

                            </ul>
                        </div>

                        <!-- Second Column -->
                        <div class="col-sm-6">
                            <p class="listHeader">Sessions Include:</p>
                            <ul>
                                <li>8 one-on-one coaching sessions of 1 hour each</li>
                                <li>Skill practice in mock interviews</li>
                                <li>Resume review with written suggestions for improvement</li>
                                <li>Detailed feedback throughout the sessions</li>
                                <li>Handouts and resources to help keep you on track</li>
                            </ul>

                            <hr style="background: white;">

                            <p class="listHeader">Participation Details:</p>

                            <p>Fee: $800.00</p>
                            <p>8 sessions located in area libraries</p>
                            <p>Contact Melva Radtke for questions</p>
                            <p>melva@spectrum-connections.org</p>
                            <p>(651)269-5002</p>



                        </div>
                    </div>



                </div>
            </div>




            <div class="jumbotron">
                <h2>Skill Instruction</h2>

                <ul>
                    <li>
                        <h4>Self Awareness</h4>
                        Build participant knowledge and awareness of their abilities and differences, using a strengths-based approach. Instruction
                        will focus on developing skills to manage their challenges and advocate for their needs.

                    </li>
                    <br>
                    <li>
                        <h4>Self Discovery for Jobs</h4>
                        Help participants explore their aptitudes and interests with a combination of traditional skill assessment tools and strategies
                        adapted from the Discovering Personal Genius program.
                    </li>
                    <br>
                    <li>
                        <h4>Job Preparedness</h4>
                        Build concrete skills to help autistic youth find and retain jobs. Skill instruction includes how to prepare for and engage
                        in job interviews, how to handle online applications and how to communicate in professional networks.
                    </li>
                    <br>
                    <li>
                        <h4> Post-Secondary Navigation</h4>
                        Help students develop executive function and communication skills in post-secondary environments to support their successful
                        completion of selected degree programs.

                    </li>
                    <br>
                    <li>
                        <h4>Skill Practice</h4>
                        Provide supported opportunities to engage in community and job events to develop community connections and practice communication
                        skills in real-world settings. Example engagement opportunities includes attendance at job fairs
                        and conducting information interviews with community employers
                    </li>
                </ul>
            </div>

            <hr>
            <br>
            <h2>Community Education</h2>
            <img id="serviceImg1" src="../public/images/boss-brainstorming-business-1093913.jpg" alt="">
            <ul>
                <li>
                    <h4>“On the Spectrum” Series</h4>
                    Conduct community education sessions and webinars for college staff, faculty and employers. The goal of this service is to
                    build the knowledge and insights of individuals who are working with autistic individuals in classrooms
                    and the workplace. The sessions provide information about autistic thinking styles and offer practical
                    strategies to promote student and employee success.
                </li>
                <br>
                <li>
                    <h4>Job Coaching</h4>
                    Provide job coaching advice and supports for autistic employers and employees, with the goal of supporting workplace success
                    for autistic employees and provide continued learning opportunities about autism for employers.
                </li>
            </ul>
            <hr>

            <div class="jumbotron">
                <h2>College Support</h2>
                <p>Many young people with higher functioning autism spectrum go to college after high school. Since they often
                    do well academically in a K-12 setting, it is generally assumed that they’ll manage well in college and
                    beyond. But they continue to have Autism and they continue to need the structure and supports they were
                    provided while growing up.</p>

                <p>Conventional wisdom holds that the biggest problems for higher functioning individuals are social and communication
                    issues. But they also struggle with life skills and disrupted executive function —the mental processes
                    involving organization, planning, time management and multitasking. This makes college, their first venture
                    into independent living, especially challenging. Their executive functioning capabilities are swamped
                    by the new responsibilities of managing an independent life as a college student -- living in a dorm
                    or apartment, scheduling homework and maintaining proper nutrition.
                </p>
                <p>These new challenges occur at the same time they lose the educational support services they’ve had through
                    most of their life. Many students also have other, accompanying problems, including anxiety and ADHD,
                    that may makes self-management much harder.
                </p>

            </div>

        </div>

    </div>
    </div>

    <div class="push"></div>
    <!-- Pushes footer to bottom of page if not enough content -->
    </div>
    <!-- End of Wrapper -->


    <footer class="footer">
        <p> © 2018 Spectrum Connections. All rights reserved.</p>
        <br>
        <p>Address: 5865 Neal Avenue North, Stillwater, MN 55082</p>
        <p>Phone: 651-269-5002</p>
    </footer>

</body>

</html>