<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spectrum Connections</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Style Sheets -->
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/navbar.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="wrapper">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(171, 191, 209);">

            <a href="../index.html">
                <div id="header-logo"></div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i style="font-size:24px;color:black" class="fa">&#xf103;</i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">About us</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../views/about.html">Leadership</a>
                            <a class="dropdown-item" href="../views/mission.html">Mission</a>
                            <a class="dropdown-item" href="../views/services.html">Services</a>
                            <a class="dropdown-item" href="../views/links.html">News and Events</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../views/supportus.html">Support Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/resources.html">Resources</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- end navbar -->

        <div class="container">

            <div class="row ">
                <div class="col-lg-12 first-row">
                    <h1>Our Services:</h1>
                    <h2>We provide services in four program areas: </h2>

                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5">
                            <h3>
                                <a href="#selfawareness">
                                    <strong>Self-Advocacy</strong>
                                </a>
                            </h3>
                            <h3>
                                <a href="#jobpreparedness">
                                    <strong>Job Preparedness </strong>
                                </a>
                            </h3>
                        </div>

                        <div class="col-lg-5">
                            <h3>
                                <a href="#postsecondarynavigation">
                                    <strong>Post-Secondary Navigation</strong>
                                </a>
                            </h3>
                            <h3>
                                <a href="#elearningseries">
                                    <strong>E-Learning Series</strong>
                                </a>
                            </h3>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>


                    <hr>
                </div>
            </div>

            <div id="selfawareness" class="row">
                <div class="col-lg-12">
                    <h2>Self Advocacy</h2>
                    <p>
                        It’s important that young people on the spectrum understand their strengths and challenges to achieve their goals. It’s also
                        important that they are able to describe how autism affects their style of learning and interactions
                        with others. Self awareness about autism can help young people ask for appropriate clarifications
                        or supports, for example,
                        <i> “I’m sorry, but I have language issues. Would you please speak more slowly?”
                        </i> At the same time, this self awareness shouldn’t be used to excuse negligence or inappropriate
                        behavior because “I have autism.”
                    </p>
                    <p>Effective self-advocacy is often tied to decisions about when and how to disclose an autism diagnosis.
                        It may be necessary to disclose autism in order to explain why an accommodation is needed or helpful.
                    </p>
                    <p>Developing self-advocacy and disclosure skills requires direct instruction. Areas of instruction provided
                        by Spectrum Connections may include:
                    </p>
                    <ul>
                        <li>Understanding different learning styles</li>
                        <li>How to be assertive</li>
                        <li>How to effectively communicate your perspective</li>
                        <li>How to negotiate and compromise</li>
                        <li>How to deal with systems and bureaucracies</li>
                        <li>Basics of the Americans with Disabilities Act</li>
                    </ul>
                    <hr>
                </div>
            </div>

            <div id="jobpreparedness" class="row jumbotron">
                <div class="col-lg-12">
                    <h2>Job Preparedness</h2>
                    <p>Identifying realistic job goals is a challenge for young adults on the spectrum. Many may be hired, especially
                        when labor markets are tight, but they often struggle with keeping jobs long term because the job
                        turns out to be a poor match for their skills.
                    </p>
                    <p>Spectrum Connections works with young adults to help them prepare for a realistic job search. Areas of
                        service include:
                    </p>
                    <ul>
                        <li>Develop job themes out of narrow interests</li>
                        <li>Identify personality types</li>
                        <li>Research labor market </li>
                        <li>Identify job shadowing</li>
                        <li>Provide information interviews</li>
                        <li>Structure volunteer positions</li>
                        <li>Identify up to 3 job goals</li>
                    </ul>
                </div>
            </div>

            <div class="row deepBlue">
                <div class="col-lg-12">
                    <br>
                    <br>
                    <h2>
                        <strong>Interview Intensive Training</strong>
                    </h2>
                    <p>Interviews play a key role in getting a job. They can also be a major hurdle for job seekers on the spectrum
                        who aren’t skilled at reading social cues or thinking flexibly when responding to hypothetical questions.
                        Early research concludes that direct instruction in the social mechanics of job interviews can improve
                        the interview performance of job seekers on the spectrum and, in turn, their likelihood of getting a
                        job.
                    </p>
                    <br>
                    <p>Spectrum Connections offers an Interview Intensive Training designed to help job seekers on the spectrum learn and
                        use the key skills they need to make a positive impression on potential employers. </p>
                    <br>
                    <p>The Interview Intensive Training consists of 4 - 5 interview skill learning sessions which focus instruction on
                        customized learning goals, such as projecting confidence; engaging in reciprocal conversation; and
                        maintaining appropriate eye contact with an interviewer. Participants then participate in 2 to 4
                        mock interviews with business professionals. Pre- and post-training assessments are used to measure
                        participant interview skill development as a result of the program.
                    </p>
                    <br>
                    <br>
                </div>
            </div>


            <div id="postsecondarynavigation" class="row">
                <div class="col-lg-12">
                    <br>
                    <br>
                    <h2>Post-Secondary Navigation</h2>
                    <br>
                    <p>The number of students on the spectrum who attend post-secondary schools is rapidly increasing. During grade
                        school through high school, these students were supported by teams of educators and specialists who
                        were required by law to offer those services. After high school, the legal mandate suddenly ends
                        and there is no federal requirement to provide services for students who still need supports and
                        are entering the new, complicated and confusing world of post-secondary school.
                    </p>
                    <br>
                    <p>
                        All post-secondary schools have disability service offices which can offer accommodations for academic needs, but typically
                        don’t provide services to address their social communication and executive function challenges. In
                        addition, many students on the spectrum don’t register with these offices, often because of their anxiety
                        about their diagnosis.
                    </p>
                    <br>
                    <p> This list is a summary of responses from post-secondary students on the spectrum about the services they
                        received in college compared to the services they most commonly needed.
                    </p>
                    <br>
                    <p class="listHeader align-center">Most Frequent Academic Accommodations Received:</p>
                    <ul>
                        <li>Additional test time</li>
                        <li>Assistance from note takers</li>
                        <li>Distraction-free test areas</li>
                        <li>Flexible or extended due dates for assignments</li>
                        <li>Use of technology in the classroom</li>
                    </ul>
                    <div class="source">Sarrett, J. C. (2018). Autism and Accommodations in Higher Education: Insights from the Autism Community.
                        Journal of Autism and Developmental Disorders, 48, 679-692. doi: 10.1007/s10803-017-3353-4
                    </div>

                    <br>
                    <br>
                    <p class="listHeader align-center"> Supports Most Commonly Desired (Social & Sensory)</p>
                    <ul>
                        <li>Increased autism awareness on campus</li>
                        <li>Sensory friendly spaces and practices </li>
                        <li>Educational practices designed for multiple learning preferences</li>
                        <li>A disability support group</li>
                        <li>More acceptance of self-stimulatory behavior ("stimming")</li>
                    </ul>

                    <br>
                    <br>
                    <p>Spectrum Connections provides one-on-one supports for post-secondary students to help fill this critical
                        service gap for post-secondary students on the spectrum. Areas of support include:
                    </p>
                    <ul>
                        <li>Transitioning from home to campus life and from college to work</li>
                        <li>Introducing appropriate college and career resources</li>
                        <li>Managing time and scheduling skill</li>
                        <li>Teaching self-advocacy and disclosure</li>
                        <li>Teaching stress management</li>
                        <li>Developing scripts and role-playing</li>
                        <li>Setting goals: academic, co-curricular and career related</li>
                    </ul>
                    <br>
                </div>
            </div>

            <hr>


            <div id="elearningseries" class="jumbotron">
                <div class="col-lg-12">
                    <h2>E-Learning Series for Business and Community</h2>

                    <p>Public awareness of autism has dramatically increased in recent years. More needs to be done to build
                        a deeper understanding of the infinite variations of autism and how individuals on the spectrum can be
                        an important part of the community.
                    </p>

                    <p>
                        <strong>
                            Spectrum connections offers two e-learning strands for employers and community organizations wanting to build their understanding
                            of autism.
                        </strong>
                    </p>

                    <p class="listHeader">INTRODUCTORY STRAND</p>
                    <ul>
                        <li>Introduction to autism</li>
                        <li>Autism behaviors and their functions</li>
                        <li>General strategies for working with employees and students on the spectrum</li>
                    </ul>
                    <br>
                    <p class="listHeader">INTERMEDIATE STRAND</p>
                    <ul>
                        <li>Autism Review</li>
                        <li>General strategies for working with employees and students on the spectrum-connections</li>
                        <li>Case studies and problem solving for specific, challenging situations
                            <ul>

                                <strong>Examples:
                                </strong>

                                <li>Student refuses to work in a group with others</li>
                                <li>Student is “bossy” in group work</li>
                                <li>Student doesn’t follow rules because she has a "better" way to complete the work</li>
                            </ul>


                        </li>
                    </ul>

                </div>
            </div>

        </div>

    </div>
    </div>

    <div class="push"></div>
    <!-- Pushes footer to bottom of page if not enough content -->
    </div>
    <!-- End of Wrapper -->


    <footer class="footer">
        <p> © 2018 Spectrum Connections. All rights reserved.</p>
        <br>
        <p>Address: 5865 Neal Avenue North, Stillwater, MN 55082</p>
        <p>Phone: 651-269-5002</p>
        <p>info@spectrum-connections.org</p>
    </footer>

</body>

</html>