<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spectrum Connections</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>




    <nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-dark" style="background-color: #bdd8eb;">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Mission

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active " href="#">Services
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="container">

        <div class="row">
            
            <div class="col-lg-12">
                <p>We provide services in 2 program areas: skill instruction; and community engagement. 

                        Skill Instruction
                        
                        Self Awareness
                        Build participant knowledge and awareness of their abilities and differences, using a strengths-based approach.  Instruction will focus on developing skills to manage their challenges and advocate for their needs. 
                        
                        Self Discovery for Jobs
                        Help participants explore their aptitudes and interests with a combination of traditional skill assessment tools and strategies adapted from the Discovering Personal Genius program. 
                        
                        Job Seeking
                        Build concrete skills to help autistic youth find and retain jobs. Skill instruction includes how to prepare for and engage in job interviews, how to handle online applications and how to communicate in professional networks.
                        
                        Post-Secondary Navigation
                        Help students develop executive function and communication skills in post-secondary environments to support their successful completion of selected degree programs. 
                        
                        Skill Practice
                        Provide supported opportunities to engage in community and job events to develop community connections and practice communication skills in real-world settings.  Example engagement opportunities includes attendance at job fairs and conducting information interviews with community employers
                        </p>
                
               
</body>

</html>