
label{
    font-weight: bold;

}

body{
    background-image: url("../images/rainbow_landscape.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
    background-color: aliceblue;
    opacity: .9;
    padding-bottom: 5px;
}

video{
    margin-left: auto;
    margin-right: auto;

    border-style: solid
}

#mainContent{
    margin-top: 64px;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

li{
    font-size: 20px;
}